html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  background-color: #fbeddc;
  color: #391019;
}

.root {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
}

.title {
  text-align: right;
  font-family: monospace;
}

.doclink {
  text-align: right;
  font-family: monospace;
  font-size: smaller;
}

.doclink:nth-child(2) {
  margin-bottom: 17px;
}

.timeline {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.timeline__record {
  display: flex;
  flex-direction: column;
  width: 150px;
  overflow-y: hidden;
}

.timeline__record:first-child {
  width: 50px;
}

.timeline__record__vwrap {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.timeline__record__vshape {
  display: none;
  overflow-y: hidden;
  flex-shrink: 0;
}

@media (max-width: 959px) {
  .root {
    align-items: center;
  }
  .timeline {
    flex-direction: column;
  }
  .timeline__record {
    width: 80vw;
    height: 130px;
  }
  .timeline__record__shape {
    display: none;
  }
  .timeline__record__vshape {
    display: inline-block;
  }
  .timeline__record:first-child {
    height: 70px;
  }
  .timeline__record:nth-child(6) {
    height: 270px;
  }
}

@media (max-width: 539px) {
  .timeline__record:nth-child(6) {
    height: 340px;
  }
}

@media (max-width: 359px) {
  .timeline__record:nth-child(6) {
    height: 430px;
  }
}

.timeline__record__date {
  font-family: monospace;
  padding-left: 3px;
}

.timeline__record__body {
  font-family: sans;
  font-size: small;
  padding-left: 3px;
  padding-right: 2px;
}

.wrap_anywhere {
  overflow-wrap: anywhere;
}

.footer {
  text-align: right;
  font-size: small;
}

@media (max-width: 959px) {
  .footer {
    margin-top: 70px;
    font-size: x-small;
  }
}
